<!DOCTYPE html>
<html>

<head>
    <title>Signup Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  
     <link href="../css/style.css" rel="stylesheet"></link>
</head>

<body>
    <center>
        <h1>Watch movies at online free</h1>
        <h3>Regisration Form</h3>
        <form method='POST' action='/signup'>
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="firstname" id="firstname">
                </td>
            </tr>
            <tr>
                <td>Mailid</td>
                <td>
                    <input type="email" name="username" id="email">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" id="password">
                </td>
            </tr>
            <tr>
                <td>Conform_Password</td>
                <td>
                    <input type="password" name="Conform_Password" id="Conform_Password">
                </td>
            </tr>
        </table>
        <button type="submit">SignUp</button>
        </form>
    </center>
</body>

</html>